<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

</head>

<body>
    <div class="container">
        <div>
            <nav class="nav-main">
                <div class="image-background">
                    <form action="/" method="GET" class="home_redirect">
                        <button class="logo-button" type="submit">
                            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Curangel LOGO"
                                class="nav-logo" />
                        </button>

                    </form>
                </div>
                <div class="home">
                    <form action="/" method="GET">
                        <button class="nav-btn" type="submit">REGRESAR</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <main>
        <div class="field-datas">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
                aliquam?
            </p>
            <input type="text" id="username" placeholder="Usuario HIVE" />
            <input type="password" id="password" placeholder="Clave de posteo" />
            <button id="btn-login">Ingresar</button>
        </div>
        <div>
            <p class="message" id="message">

            </p>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>