<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>

<body>
    <div class="container">
        <div>
            <nav class="nav-main">
                <div class="image-background">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Curangel LOGO"
                            class="nav-logo" />
                    </a>
                </div>

                <div class="user-info">
                    {% block content %}
                    <p class="title">
                        BIENVENIDO {{ username }} !
                    </p>
                    {% endblock %}
                </div>

                <div class="logout">
                    <form action="/logout" method="GET">
                        <button class="nav-btn" type="submit">SALIR</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <main>
    </main>

    <footer>

    </footer>
</body>

</html>