<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="container">
        <div>
            <nav class="nav-main">
                <div class="image-background">
                    <form action="/" method="POST" class="home_redirect">
                        <button class="logo-button" type="submit">
                            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Curangel LOGO"
                                class="nav-logo" />
                        </button>

                    </form>
                </div>

                <div class="user-info">
                    {% block content %}
                    <p class="title">
                        BIENVENID@ {{ username }} !
                    </p>
                    {% endblock %}
                </div>

                <div class="option-buttons">
                    <div class="logout">
                        <form action="/logout" method="GET">
                            <button href="#" class="nav-btn" type="submit">SALIR</button>
                        </form>
                    </div>

                    {% if admin_user == true %}
                    <div class="admin">
                        <a href="#" class="nav-btn" id="admin-btn">ADMIN</a>
                    </div>
                    {% endif %}

                    {% if curator_user == true %}
                    <div class="admin">
                        <a href="#" class="nav-btn" id="curator-btn">UPVOTE</a>
                    </div>
                    {% endif %}

                    <div class="admin">
                        <a href="#" class="nav-btn" id="downvote-btn">DOWNVOTE</a>
                    </div>
                </div>

            </nav>
        </div>
    </div>

    <!--downvote-->
    
    <!--/downvote-->

    <main class="admin-section" id="admin">
        <h1>Curangel Administration Interface</h1>
        <div class="admin-menu" id="adminMenu">
            <!--upvotes-->
            <section class="admin-card" id="upvotesOption">
                <div class="card-header" id="cardHeader1">
                    <button onclick="hideShowContent('cardContent1')">Queue</button>
                </div>
                <div class="content-card" id="cardContent1">
                    <table class="content-table" id="adminUpvotesTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Account</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="adminUpvotesTableBody">
                    </table>
                </div>
            </section>
            <!--/upvotes-->

            <!--users-->
            <section class="admin-card" id="usersOption">
                <div class="card-header" id="cardHeader2">
                    <button onclick="hideShowContent('cardContent2')">Users</button>
                </div>
                <div class="content-card" id="cardContent2">
                    <table class="content-table" id="usersTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Account</th>
                                <th>Curator</th>
                                <th>Delegator</th>
                                <th>Admin</th>
                                <th>Created</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                    </table>
                </div>
            </section>
            <!--/users-->

            <!--blacklist-->
            <section class="admin-card" id="blacklistOption">
                <div class="card-header" id="cardHeader3">
                    <button onclick="hideShowContent('cardContent3')">Blacklist</button>
                </div>
                <div class="content-card" id="cardContent3">
                    <table class="content-table" id="blacklistTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Added</th>
                                <th>Reason</th>
                                <th>Added by</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                    </table>
                </div>
            </section>
            <!--/blacklist-->

            <!--downvotes-->
            <section class="admin-card" id="downvotesOption">
                <div class="card-header" id="cardHeader4">
                    <button onclick="hideShowContent('cardContent4')">Downvotes</button>
                </div>
                <div class="content-card" id="cardContent4">
                    <table class="content-table" id="adminDownvotesTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Account</th>
                                <th>Reason</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Limit</th>
                                <th>Status</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="adminDownvotesTableBody">
                    </table>
                </div>
            </section>
            <!--/downvotes-->
        </div>
    </main>

    <main class="upvote-section" id="upvote">
        <!--upvote-->
        <section class="upvote-options" id="upvote-options">
            <div class="container">
                <div>
                    <h2>Suggest a post or comment to upvote </h2>
                    <form id="upvoteForm">
                        <div class="form-group">
                            <input type="text" id="newUpvote" class="form-control"
                                placeholder="full link to post or comment" />
                        </div>
                        <button class="btn-upvote-form" id="sendNewUpvote">Send</button>
                        <button class="btn-upvote-form" id="sendingUpvote">Sending...</button>
                        <button class="btn-upvote-form" id="checkMana">Check Mana</button>
                    </form>
                </div>

                <h2>History of your suggestions</h2>
                <div class="upvote-content-card" id="upvoteContentCard">

                    <table class="upvote-table" id="upvotesTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Payout</th>
                                <!---
                                <th>Status</th>
                                 -->
                                <th>Reward</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="upvotesTableBody">
                    </table>
                </div>
            </div>
        </section>
    </main>
    <!--/upvote-->

    <!--downvote-->
    <main class="downvote-section" id="downvote">
        <section class="downvote-options" id="downvote-options">
            <h1>Downvotes happen twice a day at 11 GMT</h1>
            <div class="container">
                <div>
                    <h2>Mark a post or comment for downvote </h2>
                    <p>You can submit as many posts as you want. The weight for a downvote depends on the amount of
                        other submissions and the weight of your delegation.
                        The percentage you select is the absolute maximum the post will go down (except in certain
                        circumstances you can't influence).</p>
                    <form id="downvoteForm">
                        <div class="form-group">
                            <input type="text" id="newDownvote" class="form-control"
                                placeholder="full link to post or comment" />
                        </div>

                        <div class="form-group">
                            Max downvote
                            <select class="form-control" id="newDownvoteLimit">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="80" selected="selected">80</option>
                                <option value="99">99</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" id="newDownvoteReason" class="form-control"
                                placeholder="reason for downvote" autocomplete="off"/>
                        </div>

                        <button class="btn-downvote-form" id="sendNewDownvote">Send</button>
                        <button class="btn-downvote-form" id="sendingDownvote">Sending...</button>
                    </form>
                </div>
                <br>
                <h2>History of your downvotes</h2>
                <div class="downvote-content-card" id="downvoteContentCard">

                    <table class="downvote-table" id="downvotesTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Reason</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Payout</th>
                                <th>Limit</th>
                                <th>Status</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="downvotesTableBody">
                    </table>
                </div>
            </div>
        </section>
    </main>
    <!--/downvote-->
    <footer>

    </footer>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upvote.js') }}"></script>
    <script src="{{ url_for('static', filename='js/downvote.js') }}"></script>

</body>

</html>