<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
</head>

<body>
    <div class="container">
        <div>
            <nav class="nav-main">
                <div class="image-background">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Curangel LOGO"
                            class="nav-logo" />
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <main>
        <div class="field-datas">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
                aliquam?
            </p>
            <input type="text" placeholder="Información" />
            <input type="text" placeholder="Información" />
            <input type="text" placeholder="Información" />
            <input type="text" placeholder="Información" />
            <button>Registrarse</button>
        </div>
    </main>

    <footer>

    </footer>


</body>

</html>