<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>

</head>

<body>
    <div class="container">
        <div>
            <nav class="nav-main">
                <div class="image-background">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Curangel LOGO"
                            class="nav-logo" />
                    </a>
                </div>

                <div class="home">
                    <form action="/" method="GET">
                        <button class="nav-btn" type="submit">REGRESAR</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <main>
        <div class="field-datas">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
                aliquam?
            </p>
            <input id="username" type="text" placeholder="Usuario Hive" />
            <input id="password" type="password" placeholder="Clave de posteo" />

            <button id="btn-register">Registrarse</button>
        </div>
    </main>

    <footer>

    </footer>


</body>

</html>