<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones Cliente-Servidor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
</head>

<body>
    <div>
        <h2>Ver Usuarios Registrados</h2>
        <button type="button" id="visualizar" class="boton">Ver Usuarios</button>
        <p id="lista_usuarios"></p>
    </div>
    <div class="nav">
        <form action="/search_users" id="usuarios">
            <button type="submit">Buscar Usuario</button>
        </form>
    </div>

</body>

</html>